.input-box {
    width: 100%;
    font-size: 1.25rem;
    border: none;
    border-bottom: 1px solid black;
    font-family:'Gafata', Courier, monospace;
    padding-bottom: 0.5rem;
    box-sizing: border-box;
    height: 32.5px;
    letter-spacing: 0.2375rem;
}

.send-button {
    width: 100%;
    font-family:'Gafata', Courier, monospace;
    font-size: 1.25rem;
    color: white;
    background-color: black;
    border: none;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5rem;
    letter-spacing: 0.2375rem;
}
